/* map.css */

body {
  margin: 0;
  background-color: #6A0909;
  font-family: Arial, sans-serif;
}

/* optional styling for maps */
.map {
  width: 90%;
  height: 300px;
  margin: 30px auto;
  display: block;
  border: 0;
  border-radius: 10px;
}
h1{
    
}
h2 {
  color: #D59042;;
  text-align: center;
}
